@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

	.idea
		font-size: 8px
		&-bg
			width: 100%
		.idea-h5
			display: none
		.real-h5
			display: none
		&-headline-wrap
			display: block
			margin-top: 200px
			.headline
				h2
					::before
						display: none
		.gear
			display: none
		.just
			position: absolute
			top: 38px

	.whyrwe
		font-size: 12px

// ≥992px
+media-breakpoint-down(md)

	.lamps___items_modal
		padding: 80px 15px
		.lamps__tabs
			// flex-wrap: wrap
			li
				// padding: 11px 15px
				font-size: 18px

		.lamps__wrapper
			.lamps__wrapper_top
				flex-direction: column
				align-items: center
				.lamps__wrapper_img
					margin-bottom: 70px
					max-width: 100%
					.lamps__thmub_img
						max-width: 100%

					.lamps__big_img
						margin: 20px auto	

				.lamps__txt
					max-width: 100%
					.lamps__txt_aciton
						flex-direction: column
						strong
							font-size: 48px
							margin-bottom: 30px
							
			
			.lamps__wrapper_info
				.characteristic__wrapper	
					ul
						margin: 20px 0
						grid-template-columns: repeat(1, 1fr)				

	.top-line
		position: fixed
		width: 100%
		top: 0
		left: 0
		z-index: 888
		.main-menu
			position: fixed
			width: 100%
			height: 100%
			left: -100%
			top: 0
			background: #000
			transition: .4s ease
			display: flex !important
			z-index: 888
			align-items: center
			justify-content: center
			text-align: center
			ul
				width: 100%
				display: block
				li
					display: block
					margin-bottom: 40px
					margin-right: 0
					a
						font-size: 22px
						&::before
							bottom: -15px

	.main-mnu-active
		left: 0 !important
		transition: .4s ease			

	.hamburger-wrapper
		position: relative
		z-index: 999
		.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
			background: #fff
			border-radius: 0

		.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before
			background: #fff	

	.top-line 
		.brand
			z-index: 999
			position: relative
			.brand-img
				margin: 0 auto
				max-width: 120px
	
	.mobile-phone
		font-size: 24px	!important
		position: relative
		z-index: 999

	.advantages__wrapper
		flex-wrap: wrap
		.advantages__items 
			p
				padding-left: 30px

	.header-content_bottom
		margin-top: 20px

	.header-content_btn
		text-align: center
		padding-bottom: 90px

	.lamps
		padding-top: 40px
		padding-bottom: 80px
		h1 
			line-height: 1
			font-size: 47px
			margin-bottom: 15px
			strong
				font-size: 35px

		h3
			font-size: 24px
			line-height: 1.4

		h4
			font-size: 20px

		.lamps__items
			width: 100%
			margin-bottom: $gutter

	.idea .slider1 .item a::before
		right: 40px						

	
	.idea .just
		left: 50%
		transform: translateX(-50%)

	.idea-headline-wrap 
		max-width: 100%
		.headline 
			h2
				font-size: 142%
				&::before
					left: -1.357em
				&::after
					right: -1.357em
	
						

			h3
				font-size: 18px
				img
					margin-top: 20px

	.scheme-action
		text-align: center
		margin-top: 45px
		position: relative
		a
			color: #fff
			font-size: 18px
			font-weight: bold
			padding: 12.5px 40px
			border: 1px solid $accent
			display: inline-block
			border-radius: 32.5px
			text-transform: uppercase
			z-index: 88

	.realization 
		display: none


	.whyrwe .whyrwe_right
		display: none

	.whyrwe .advantages__wrapper
		flex-wrap: wrap
		justify-content: center

	.sliders .slider4-wrapper			
		.item
			max-width: 200px
			margin: 0 auto
		h2
			font-size: 30px	
	.scheme
		min-height: auto
		padding-bottom: 70px
		h3
			font-size: 20px
			margin-top: 60px
			&::before
				display: none
		h2
			font-size: 38px 
		.scheme-img
			display: none

		.scheme-headline
			margin-top: 15px
			align-items: center					
			h6
				font-size: 16px
				line-height: 1.4
				padding-top: 0	

	.scheme .scheme-contacts .scheme-column:nth-child(2) .scheme-headline
		font-size: 48px
		left: 50%
		transform: translateX(-50%)
		display: block !important
		top: 0

	.scheme .scheme-contacts .scheme-column p
		display: none

	.scheme .scheme-contacts .scheme-column h4
		display: none	

	.img-width
		max-width: 214px
		img
			width: 100%

	.main-header
		padding-top: 40px
		background-size: cover !important
		background-position: center bottom
		.header-headline
			font-size: 45px
		h3
			font-size: 22px
			line-height: 38px

	.whyrwe
		font-size: 16px
		padding: 70px 0

	.partners
		padding: 80px 0
		h2
			font-size: 33px 

		.partners-wrap
			.partners-img_wrapper
				margin: 0 auto

			.owl-nav
				.owl-prev
					left: 0	

	.last-sect
		background: none !important
		padding-top: 40px
		padding-bottom: 40px

	.form-footer
		width: 100%
		text-align: center
		max-width: 100%
		input
			width: 100%

	.last-sect .last-sect-form
		width: 100%
		input
			margin-bottom: 15px

	.last-sect .last-sect-form .last-sect-form__info
		width: 100%

	.footer .footer_info
		flex-direction: column
		justify-content: center
		align-items: center
		a
			margin-bottom: 15px
			margin-top: 15px

	.scheme-modal
		max-width: 560px
		position: relative
		height: 700px
		margin: 0 auto
		background-image: url('../img/scheme.jpg')
		background-position: center center
		background-size: 100%
		background-repeat: no-repeat

// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)

	.lamps__tabs
		li
			font-size: 16px

	.inside__wrapper
		padding-top: 140px
		padding-bottom: 20px

	.modal
		.modal-inner
			padding: 40px 20px
			form
				.btn-wrapper
					text-align: center


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)

	.idea
		font-size: 10px

	.scheme
		font-size: 10px
