@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html
	overflow-x: hidden !important
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.4
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

// Settings

header, section
	position: relative

h1, h2, h3, h4, h5, h6
	line-height: 1.2

.hidden
	display: none

// h1-h6
h1
	font-size: 48px

h2
	font-size: 38px

h3
	font-size: 32px

h4
	font-size: 28px

h5
	font-size: 22px

h6
	font-size: 18px

// Links

a
	color: $accent
	text-decoration: none
	&:focus, &:hover, &:active
		text-decoration: none

// List
ul, li
	padding: 0
	margin: 0
	list-style-type: none

// Button

button
	outline: none
	cursor: pointer

.btn
	position: relative
	display: inline-block
	padding: 14px 45px
	text-align: center
	color: #292929
	font-size: 14px
	font-weight: 700
	text-transform: uppercase
	letter-spacing: 0.7px
	border-radius: 28px
	box-shadow: 0 9px 24px rgba($accent, 0.35)
	background: $accent
	transition: .4s ease
	overflow: hidden
	outline: none !important
	&:hover
		background: lighten($accent, 10%)
		color: #292929
	&:active
		background: darken($accent, 10%)

	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 15px
		height: 100%
		background: #fff
		transform: skew(-25deg, 0deg)
		animation: button-blink
		animation-duration: 2s
		animation-iteration-count: infinite
		animation-timing-function: ease

	&::after
		content: ''
		position: absolute
		left: 0px
		top: 0
		width: 8px
		height: 100%
		background: #fff
		transform: skew(-25deg, 0deg)
		animation: button-blink
		animation-duration: 2.05s
		animation-iteration-count: infinite
		animation-timing-function: ease

@keyframes button-blink
	0%
		left: -100%
		opacity: 0

	50%
		opacity: 1

	100%
		left: 100%
		opacity: 0

// Modal
.modal
	max-width: 500px
	margin: 0 auto
	background: #fff
	position: relative
	border-radius: 6px
	overflow: hidden
	.modal-inner
		padding: 60px 40px
		h4
			font-size: 18px
			text-align: center
			text-transform: uppercase
			margin-bottom: 20px
			padding-bottom: 10px
			border-bottom: 1px solid #eaeaea

		form
			> label
				width: 100%
				display: block
				margin-bottom: 15px
				span
					display: block
					font-size: 14px
					color: #161616
					font-weight: 300
					margin-bottom: 5px

				input
					width: 100%
					padding: 8px 16px 8px 0
					border: 0
					border-bottom: 2px solid #eaeaea
					font-weight: bold

			.btn-wrapper
				margin-top: 20px
				margin-bottom: 0
				button
					outline: none !important
					border: none

// Section
section

// MagnificPopup Animation

// Magnific
/**
	* Simple fade transition,
	*/
.mfp-fade.mfp-bg
	opacity: 0
	transition: all 0.15s ease-out

.mfp-fade.mfp-bg.mfp-ready
	opacity: 0.8

.mfp-fade.mfp-bg.mfp-removing
	opacity: 0

.mfp-fade.mfp-wrap .mfp-content
	opacity: 0
	transition: all 0.15s ease-out

.mfp-fade.mfp-wrap.mfp-ready .mfp-content
	opacity: 1

.mfp-fade.mfp-wrap.mfp-removing .mfp-content
	opacity: 0

// ====== 3d unfold ======

.mfp-3d-unfold

	.mfp-content
		perspective: 2000px

	/* start state */
	.mfp-with-anim
		opacity: 0
		transition: all 0.3s ease-in-out
		transform-style: preserve-3d
		transform: rotateY(-60deg)

	&.mfp-bg
		opacity: 0
		transition: all 0.5s

	/* animate in */
	&.mfp-ready
		.mfp-with-anim
			opacity: 1
			transform: rotateY(0deg)

		&.mfp-bg
			opacity: 0.8

	/* animate out */
	&.mfp-removing

		.mfp-with-anim
			transform: rotateY(60deg)
			opacity: 0

		&.mfp-bg
			opacity: 0

// Owl-carousel

.owl-carousel
	touch-action: manipulation

.top-line
	padding: 30px 0
	background-color: #0c0c0c
	overflow: hidden
	position: fixed
	width: 100%
	z-index: 88888
	// set animation
	-webkit-transition: all 0.4s ease
	transition: all 0.4s ease
	.brand
		display: block
		&-img
			max-width: 168px
			display: block
			img
				width: 100%
		span
			margin-top: 10px
			display: block
			color: #ffffff
			font-size: 12px
			font-weight: 100
			letter-spacing: 0.6px

	.main-menu
		display: inline-block
		ul
			display: inline-block
			li
				display: inline-block
				margin-right: 30px
				a
					color: #ffffff
					font-size: 15px
					font-weight: 400
					letter-spacing: 1.4px
					transition: .4s ease
					position: relative
					&::before
						content: ''
						position: absolute
						left: 0
						bottom: -75px
						display: block
						width: 0%
						opacity: 0
						transition: .4s ease
						height: 5px
						background: $accent
					&:hover
						&::before
							opacity: 1
							width: 100%

	&_search
		display: inline-block
		button
			background: transparent
			color: #fff
			border: 0
			font-size: 19px
			outline: none !important

	&_phone
		text-align: right
		a
			color: #fff
			font-weight: normal
			font-size: 22px
			.fa
				color: $accent
				margin-right: 8px
				font-size: 34px
				vertical-align: middle

	&.sticky
		padding: 0
.main-header
	min-height: 760px
	background: url('../img/header-bg.jpg') no-repeat center center
	background-size: cover
	color: #fff
	padding: 80px 0 70px
	margin-top: 11rem
	.header-headline
		display: block
		color: $accent
		text-shadow: 0 0 60px rgba($accent, 0.35)
		font-size: 60px
		font-weight: 900
		letter-spacing: 1.5px
		text-transform: uppercase
		position: relative
	h3
		display: block
		line-height: 40px
		font-size: 18px
		font-weight: 900
		text-transform: uppercase
		letter-spacing: 1.5px
		color: #fff
		strong
			color: #292929
			padding: 5px 7px
			background: $accent

.header-content-img
	max-width: 430px
	img
		width: 100%

.advantages__wrapper
	display: flex
	justify-content: space-between
	margin-top: 35px

	.advantages__items
		text-align: left
		&_img
			max-width: 136px
			height: 137px
			display: flex
			align-items: center
			justify-content: flex-start
			img
				width: 100%
				height: auto
				transition: .4s ease
				// &:hover
					// filter: hue-rotate(0deg)

		p
			font-size: 14px
			letter-spacing: 0.35px
			line-height: 24px
			color: #fff
			font-weight: 300

.header-content_bottom
	margin-top: 65px
	font-size: 18px
	font-weight: 500
	letter-spacing: 0.45px
	color: #fff
	position: relative
	padding-left: 35px
	&::before
		content: ''
		width: 29px
		height: 3px
		background: $accent
		position: absolute
		left: -5px
		top: 50%
		transform: translateY(-50%)

.header-content_btn
	margin-top: 37px
	.btn
		font-size: 16px

.lamps
	background-position-x: 175%
	background-position-y: 50px
	background-repeat: no-repeat
	padding: 125px 0 160px
	background-color: #f6f6f6
	h1
		color: $accent
		font-size: 100px
		font-weight: 900
		text-transform: uppercase
		letter-spacing: 2.5px
		margin: 0
		strong
			font-size: 50px
			letter-spacing: 1.25px
	h3
		color: #1f1f1f
		font-size: 24px
		font-weight: 400
		text-transform: uppercase
		strong
			font-weight: 900
	.lamps-content_top
		font-size: 18px
		margin: 36px 0 0
		position: relative
		padding-left: 60px
		&::before
			content: ''
			width: 53px
			height: 3px
			background: $accent
			position: absolute
			left: -5px
			top: 50%
			transform: translateY(-50%)
	h4
		font-size: 24px
		text-transform: uppercase
		font-weight: 400
		letter-spacing: 1.2px
		padding-left: 60px
		position: relative
		margin: 85px 0 35px
		&::before
			content: ''
			width: 53px
			height: 3px
			background: $accent
			position: absolute
			left: -5px
			top: 50%
			transform: translateY(-50%)

	.lamps__items
		margin: 0 auto
		width: 350px
		height: 195px
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05)
		background: #fff
		display: grid
		grid-template-columns: repeat(2, 1fr)
		align-content: center
		align-items: center
		column-gap: 15px
		padding: 0 10px
		position: relative
		transition: all .5s ease
		color: #1f1f1f
		border: 3px solid $accent
		&:hover
			background: $accent
			box-shadow: 0 26px 20px rgba($accent, 0.3)
			color: #fff
			border: 3px solid white
			img
				display: none
		&_img
			max-width: 150px
			height: 150px
			width: 100%
			display: flex
			justify-content: center
			align-items: center
			background-position: center
			background-repeat: no-repeat
			background-size: contain
			img
				width: 100%
				height: auto
		p
			font-size: 18px
			font-weight: 500
			text-transform: uppercase
			letter-spacing: 1px

.idea
	max-height: 100%
	padding-bottom: 200px
	background: #f6f6f6
	// overflow: hidden
	position: relative
	&-bg
		height: 100%
		width: 50%
		position: absolute
		background: #fff
	h5
		position: absolute
		transform: rotate(-90deg) translate(0%)
		font-size: 9.5em
		text-transform: uppercase
		text-shadow: 0px 0px 2px #000000
		color: #fff
		margin: 0
	.idea-h5
		top: 50%
		left: 0
		&::before
			content: ''
			width: 450px
			height: 3px
			background: $accent
			position: absolute
			right: 120%
			bottom: 50%
			transform: translateY(-50%)
	.real-h5
		top: 140%
		right: -2.3em
		color: #f6f6f6
		letter-spacing: 10px

	.gear
		width: 10.3em
		height: 16.4em
	.micro
		width: 6.8em
		height: 1.5em
	.just
		width: 8.75em
		height: 15.625em

	&-headline-wrap
		width: 100%
		max-width: 65%
		margin: 5.625em auto 0
		display: flex
		text-align: center
		align-items: center
		justify-content: space-between
		.headline
			// position: relative
			h2
				color: #1f1f1f
				font-size: 200%
				text-transform: uppercase
				font-weight: 400
				position: relative
				&::before
					content: ''
					width: 1.7em
					height: 0.2em
					background: $accent
					position: absolute
					left: -2.375em
					top: 60%
					transform: translateY(-50%)
				&::after
					content: ''
					width: 1.7em
					height: 0.2em
					background: $accent
					position: absolute
					right: -2.375em
					top: 60%
					transform: translateY(-50%)
				span
					color: $accent
					font-size: 2.125em
					font-weight: 700
					letter-spacing: 2.5px
			h3
				padding-top: 1.875em
				font-weight: 500
				font-size: 1.4em
				img
					padding-left: 5px

	.slider1
		max-width: 100%
		width: 729px
		height: 429px
		max-height: 100%
		margin: 5.626em auto 0
		.item
			width: 729px
			height: 429px
			img
				width: 100%
				max-height: auto
			a
				position: absolute
				z-index: 3
				font-size: 18px
				color: #000
				background: $accent
				padding: 40px 20px
				text-align: left
				width: 380px
				height: 105px
				left: 0
				bottom: 0
				// transform: scale(1.2)
				overflow: visible
				&::before
					content: '\2192'
					position: absolute
					right: 10px
					top: 50%
					transform: translateY(-50%)
					font-size: 48px

		.owl-dots
			margin-top: 2em
			.owl-dot
				span
					width: 1.2em
					height: 1.2em
					background: none
					border: 1px solid #1f1f1f
					&:hover
						background: #2f2f2f
			.owl-dot.active
				span
					background: $accent
					border: 1px solid $accent
		.owl-nav
			.owl-prev
				color: #000
				font-size: 30px
				position: absolute
				left: -3em
				top: 40%
				transform: translateY(50%)
				background: none
			.owl-next
				color: #000
				font-size: 30px
				position: absolute
				right: -3em
				top: 40%
				transform: translateY(50%)
				background: none
			.owl-next,.owl-prev
				&:hover
					color: $accent
					transition: .1s ease

.scheme
	min-height: 62em
	background: #1f1f1f
	.scheme-img
		position: relative
		.lighting
			display: block
			max-width: 21.25em
			width: 30%
			height: 51em
			position: absolute
			left: -1.1em
			top: 0
			transform: scale(0.9, 1.2)
		.lighting-s
			max-width: 14em
			display: none
	h3
		margin-top: 5.625em
		color: #fff
		font-weight: 400
		font-size: 1.7em
		text-transform: uppercase
		&::before
			content: ''
			width: 6em
			height: 3px
			background: #fff
			position: absolute
			right: 11.2em
			top: 48%
			transform: translateY(-50%)
	h2
		color: $accent
		font-size: 3.7em
		text-transform: uppercase
	h6
		font-size: 1.5em
	.scheme-headline
		margin-top: 7.5em
		display: flex
		h6
			font-weight: 300
			color: #fff
			line-height: 1.875em
			padding-top: 3.125em
			margin: 0

	.scheme-contacts
		color: #000
		display: flex
		justify-content: space-between
		margin-top: 3em
		.scheme-column
			width: 28%
			h4
				display: block
				text-align: center
				font-size: 16px
				padding: 1em
				background: #fff
				margin-bottom: 2.8em
				text-transform: uppercase
				font-weight: 500
				position: relative
			p
				display: flex
				justify-content: center
				flex-direction: column
				font-size: 16px
				text-align: center
				min-height: 7.38em
				padding: 0 2em
				background: #fff
				margin-bottom: 3em
				position: relative
			&:first-child
				margin-top: 7.5em
				span
					z-index: 1
					position: absolute
					width: 2em
					height: 2em
					background: $accent
					border: 4px solid #1f1f1f
					border-radius: 10em
					top: 50%
					right: -0.9em
					transform: translateY(-50%)
					&::before
						content: ''
						position: absolute
						z-index: 2
						left: -160px
						top: 60px
						transform: translateY(-50%) rotate(90deg)
						width: 40px
						height: 1px
						border-bottom: 2px dashed $accent
					&::after
						content: '\003C'
						position: absolute
						z-index: 2
						font-size: 2em
						color: $accent
						left: -152px
						top: 73px
						transform: translateY(-50%) rotate(-90deg)
				h4
					border-left: 6px solid $accent
				p
					border-left: 6px solid $accent
					text-align: left
					&:nth-child(2)
						span
							&::before
								width: 450px
								border-bottom: 3px dashed $accent
								left: 25px
								top: 50%
								transform: rotate(0deg)
							&::after
								left: 470px
								top: -23%
								transform: rotate(180deg)
					&:nth-child(3)
						margin-bottom: 13.5em
						span
							&::before
								width: 450px
								border-bottom: 3px dashed $accent
								left: 25px
								top: -20%
								transform: rotate(0deg)
							&::after
								left: 470px
								top: -97%
								transform: rotate(180deg)
							&:nth-child(2)
								&::before
									left: 25px
									top: 100%
									transform: rotate(0deg)
								&::after
									left: 20px
									top: 10%
									transform: rotate(-0deg)
					&:nth-child(4)
						span
							&::before
								width: 450px
								border-bottom: 3px dashed $accent
								left: 25px
								top: -20%
								transform: rotate(0deg)
							&::after
								left: 470px
								top: -97%
								transform: rotate(180deg)
							&:nth-child(2)
								&::before
									left: 25px
									top: 100%
									transform: rotate(0deg)
								&::after
									left: 20px
									top: 10%
									transform: rotate(-0deg)
							&:nth-child(1)
								&::before
									left: -151px
									top: 92px
									transform: translateY(-50%) rotate(90deg)
									width: 40px
									height: 1px
								&::after
									left: -143px
									top: 110px
									transform: translateY(-50%) rotate(-90deg)
			&:nth-child(2)
				position: relative
				p
					span
						z-index: 1
						position: absolute
						width: 2em
						height: 2em
						background: $accent
						border: 4px solid #1f1f1f
						border-radius: 10em
						transform: translateY(-50%)
						&::before
							content: ''
							position: absolute
							z-index: 2
							left: -70px
							top: 30px
							transform: translateY(-50%) rotate(-25deg)
							width: 73px
							height: 1px
							border-bottom: 2px dashed $accent
						&::after
							content: '\003C'
							position: absolute
							z-index: 2
							font-size: 2em
							color: $accent
							left: -69px
							top: 41px
							transform: translateY(-50%) rotate(-25deg)
						&:nth-child(1)
							top: 50%
							left: -0.9em
						&:nth-child(2)
							top: 50%
							right: -0.9em
							&::before
								left: 18px
								transform: rotate(25deg)
							&::after
								left: 73px
								top: 21px
								content: '\003E'
								transform: rotate(25deg)
				.scheme-headline
					text-transform: uppercase
					position: absolute
					margin: 0
					padding: 0
					bottom: 25%
					transform: translate(-6%, 6%)
					background: none
					font-size: 6em
					font-weight: 900
					color: #1f1f1f
					text-shadow: 1px 1px 0px $accent, 1px 0px 0px $accent, 1px -1px 0px $accent, -1px -1px 0px $accent, -1px 1px 0px $accent, -1px -1px 0px $accent, 0px 1px 0px $accent, 0px 1px 0px $accent

			&:last-child
				margin-top: 7.5em
				span
					z-index: 1
					position: absolute
					width: 2em
					height: 2em
					background: $accent
					border: 4px solid #1f1f1f
					border-radius: 10em
					transform: translateY(-50%)
					top: 50%
					left: -0.9em
					&::before
						content: ''
						position: absolute
						z-index: 2
						left: 143px
						bottom: -70px
						transform: translateY(-50%) rotate(90deg)
						width: 40px
						height: 1px
						border-bottom: 2px dashed $accent
					&::after
						content: '\003C'
						position: absolute
						z-index: 2
						font-size: 2em
						color: $accent
						left: 150px
						bottom: -130px
						transform: translateY(-50%) rotate(-90deg)
				h4
					border-right: 6px solid $accent
					span
						&::before
							bottom: -37px
						&::after
							bottom: -88px
							left: 151px
				p
					text-align: left
					border-right: 6px solid $accent

.realization
	height: 1000px
	background: #f6f6f6
	padding: 173px 0
	.realization-wrap
		width: 100%
		display: flex
		justify-content: flex-end
		flex-flow: row
		.realization-headline
			background: $accent
			max-width: 697px
			//max-height: 650px
			height: 40rem
			width: 40%
			text-transform: uppercase
			text-align: left
			position: relative
			margin: 0 100px
			&::before
				content: ''
				display: block
				left: 16%
				top: 50%
				transform: translateY(-50%)
				width: 2px
				height: 100%
				background: #fff
				position: absolute
			img
				width: 376px
				height: 395px
				position: absolute
				right: -3em
				top: 0
				transform: translateX(5%)
			h2
				color: #fff
				z-index: 2
				position: absolute
				font-size: 50px
				padding-left: 27px
				width: 70%
				bottom: 50%
				transform: translate(22%, 25%)
				border-left: 10px solid #fff
			h3
				position: absolute
				width: 60%
				bottom: 20%
				transform: translate(35%, 20%)
				font-size: 24px
				font-weight: 400
				z-index: 3

		.slider2-wrap
			width: 50%
			position: relative
			.bottom-arrows
				display: flex
				text-align: center
				align-items: center
				justify-content: center
				margin-top: 60px
				.fa
					font-size: 80px
					color: $accent
					margin: 0 10px
			.slider2
				.owl-stage-outer
					padding: 0 1.2em 1.2em 1.1em
				.item
					position: relative
					z-index: 100
					max-width: 319px
					box-shadow: 2px 10px 12px 6px rgba(0,0,0,0.2)
					font-size: 16px
					img
						width: 100%
						height: 395px
					p
						display: none
						padding: 18px 33px 67px 19px
				.firstActiveItem
					box-shadow: 0px 0px 12px 6px rgba($accent, 0.1)
					.item
						p
							border-bottom: 8px solid $accent
							box-shadow: 2px 8px 12px 10px rgba($accent, 0.1)



.slider-nav
	position: absolute
	bottom: 15px
	right: 15px
	font-size: 30px
	display: flex
	li
		margin: 0 15px
		display: block

	.prev-slide, .next-slide
		cursor: pointer

.partners
	padding: 10em 0 14em
	background: #ffffff
	h2
		margin: 0 auto 100px
		color: $accent
		font-size: 50px
		letter-spacing: 2.5px
		font-weight: 900
		text-transform: uppercase
	.partners-wrap
		display: flex
		flex-flow: row wrap
		justify-content: space-between
		align-items: center
		.owl-nav
			position: absolute
			width: 100%
			left: 0
			height: 100%
			top: 50%
			transform: translateY(-50%)
			div
				position: absolute
				font-size: 27px
				top: 50%
				transform: translateY(-50%)

			.owl-next
				right: 0 !important

			.owl-prev
				left: -40px

.whyrwe
	background-color: #1f1f1f
	padding: 6.6em 0 10.5em
	h2
		font-size: 3.125em
		color: $accent
	.wherwe-logo
		width: 13.25em
	.advantages__wrapper
		display: flex
		justify-content: space-between
		flex-flow: row wrap
		margin-top: 2.25em

		.advantages__items
			width: 12em
			&_img
				max-width: 8.5em
				height: 8.6em
				display: flex
				align-items: center
				justify-content: flex-start
				img
					width: 100%
					height: auto

			p
				font-size: 1rem
				letter-spacing: 0.35px
				line-height: 24px
				color: #fff
				font-weight: 300

	.whyrwe_right
		position: relative
		h3
			position: absolute
			color: #1f1f11
			text-shadow: 0px 0px 4px $accent
			right: -3em
			top: 0
			transform: rotate(-90deg) translateY(120%) translateX(-28%)
			font-size: 8.5em
			text-transform: uppercase
			margin: 0
		img
			position: absolute
			transform: scale(1.1)
			top: -7em
			width: 34em
			height: 55em

.sliders
	padding: 4.5em 0
	.slider4-wrapper
		max-width: 70em
		margin: 0 auto
		width: 100%
		padding: 7em 0 0em
		h2
			margin: 0
			text-align: center
			font-size: 3.125em
			color: $accent
			font-weight: 900
			text-transform: uppercase
			padding-bottom: 1em
		.slider4
			width: 100%
			.owl-stage-outer
				padding: 0 1.2em 1.2em 1.1em
			.owl-dots
				margin-top: 2em
			.owl-dot
				span
					width: 1.2em
					height: 1.2em
					background: none
					border: 1px solid #1f1f1f
					&:hover
						background: #2f2f2f
			.owl-dot.active
				span
					background: $accent
					border: 1px solid $accent
			.owl-nav
				.owl-prev
					color: #000
					font-size: 30px
					position: absolute
					left: -3em
					top: 40%
					transform: translateY(50%)
					background: none
				.owl-next
					color: #000
					font-size: 30px
					position: absolute
					right: -3em
					top: 40%
					transform: translateY(50%)
					background: none
				.owl-next,.owl-prev
					&:hover
						color: $accent
						transition: .1s ease

.last-sect
	padding: 7.5em 0 12.5em
	background: url(../img/footer-bg.jpg) no-repeat top right
	background-size: 50%
	.last-sect-form
		display: flex
		flex-flow: column wrap
		align-items: flex-start
		width: 40%
		h2
			color: $accent
			font-size: 3.125em
			position: relative
			text-transform: uppercase
			font-weight: 900
			margin-bottom: 1em
			span
				font-size: 24px
				color: #1f1f1f
				font-weight: 500
				&::before
					content: ''
					background: $accent
					width: 12px
					height: 165px
					position: absolute
					left: -7%
					top: 55%
					transform: translateY(-50%)
		input
			width: 343px
			height: 55px
			background-color: #e8e8e8
			border-radius: 28px
			border: none
			text-align: center
			margin-bottom: 0.5em

		.footer-content_btn
			.btn
				padding: 1.25em 7em
				outline: none !important
				border: none

		.last-sect-form__info
			display: flex
			flex-flow: column wrap
			justify-content: space-evenly
			width: 50%
			i
				font-size: 1.5em
				padding: 1em 0.5em 0em 0.5em
				color: $accent
			a
				margin-top: 1em
				display: block
				color: #000

.footer
	background-color: #1f1f1f
	padding: 2.5em
	img
		padding-bottom: 1em
	.footer_a_private
		text-align: center
		display: block
		padding-top: 2em
		text-decoration: underline
	a
		color: #fff
	p
		color: white
	.footer_info
		display: flex
		justify-content: flex-end
		flex-flow: row wrap
		font-size: 1.5em
		padding-top: 1.3em
		a
			display: block
			&:nth-child(1)
				font-size: 0.7em
			&:nth-child(1n+2)
				font-size: 2em
				margin: 0.2em
		i
			color: $accent

.lamps___items_modal
	max-width: 1100px
	position: relative
	padding: 100px 90px
	background: #fff
	margin: 30px auto
	.lamps__tabs
		display: flex
		justify-content: flex-start
		li
			padding: 20px 0
			width: 100%
			text-align: center
			background-color: #e8e8e8
			cursor: pointer
			margin-right: 10px
			font-size: 24px
			color: #AAAAAA
			display: block
			transition: .4s ease
			&:last-child
				margin-right: 0
			&:hover
				background: $accent
				color: #fff
			&.active
				background: $accent
				color: #fff

.lamps__wrapper
	padding-top: 42px
	.lamps__wrapper_top
		display: flex
		justify-content: flex-start
		.lamps__wrapper_img
			max-width: 40%
			width: 100%
			.lamps__big_img
				margin-bottom: 10px
				border: 1px solid #E8E8E8
				max-width: 337px
				height: 337px
				text-align: center
				display: flex
				justify-content: center
				align-items: center
				img
					width: 100%
					height: auto

			.lamps__thmub_img
				max-width: 337px
				ul
					display: flex
					justify-content: flex-start
					flex-wrap: wrap
					li
						border: 1px solid #EBEBEB
						width: 76px
						height: 76px
						display: flex
						justify-content: center
						align-items: center
						cursor: pointer
						transition: .4s ease
						margin: 10px auto
						img
							max-width: 35px
							height: 61px
							display: flex
							align-items: center
							justify-content: center
						&:hover
							border-color: $accent

						&.active
							border-color: $accent

		.lamps__txt
			max-width: 60%
			width: 100%
			.lamps-subtxt
				margin-bottom: 50px
				h3
					font-size: 18px
					color: #1f1f1f
					font-weight: bold
					margin-bottom: 25px
					line-height: 1.2
				ul
					li
						list-style: none
						padding-left: 20px
						margin-bottom: 5px
						position: relative
						&::before
							content: ''
							position: absolute
							left: 0
							top: 50%
							transform: translateY(-50%)
							width: 8px
							height: 8px
							background: $accent
							border-radius: 10em

			.lamps__txt_aciton
				display: flex
				align-items: flex-start
				flex-direction: column
				strong
					font-size: 24px
					color: $accent
					margin-bottom: 20px

				button
					outline: none !important
					border: none
					font-size: 14px
					padding: 14px 30px
					font-weight: 500
					text-transform: none


	.lamps__wrapper_info
		margin-top: 70px
		position: relative
		h3
			font-size: 18px
			font-weight: bold
			background: $accent
			display: flex
			align-items: center
			justify-content: flex-start
			padding-left: 15px
			color: #fff
			max-width: 301px
			height: 48px

		.characteristic__wrapper
			margin-top: 35px
			.characteristic__list
				width: 100%
				margin: 0 30px
				display: grid
				grid-template-columns: repeat(2, 1fr)
				column-gap: 30px
				li
					display: flex
					justify-content: space-between
					margin-bottom: 15px
					padding-bottom: 10px
					border-bottom: 1px solid #eaeaea
					.desc
						font-weight: bold
						font-size: 14px
						color: #1f1f1f

					.desc-info
						font-size: 14px
						text-align: right
						color: #1f1f1f


/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog
	opacity: 0
	transition: all 0.2s ease-in-out
	transform: scale(0.8)


/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog
	opacity: 1
	transform: scale(1)


/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog
	transform: scale(0.8)
	opacity: 0


/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg
	opacity: 0
	transition: opacity 0.3s ease-out

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg
	opacity: 0.8

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg
	opacity: 0

.partners-img_wrapper
	max-width: 120px !important
	height: 120px !important
	display: flex !important
	justify-content: center !important
	align-items: center !important
	img
		width: 100%
		height: auto



.inside__wrapper
	padding: 80px 0
	h2
		font-size: 36px
		font-weight: bold
		color: #1f1f1f
		text-align: center
		margin-bottom: 60px
		text-transform: uppercase


.about__carousel
	margin-bottom: 20px

	.owl-nav
		div
			position: absolute
			top: 50%
			transform: translateY(-50%)
			display: block
			font-size: 42px
			color: $text

		.owl-prev
			left: -120px

		.owl-next
			right: -120px

	.owl-dots
		display: block
		width: 100%
		text-align: center
		margin-top: 20px
		.owl-dot
			width: 12px
			height: 12px
			border: 1px solid #000000
			margin: 0 7px
			display: block
			border-radius: 10em
			display: inline-block
			transition: .4s ease
			&:hover
				background-color: $accent
				border-color: transparent

			&.active
				background-color: $accent
				border-color: transparent


	&-img
		width: 100%
		max-height: 460px
		img
			width: 100%
			height: auto


.news__wrapper
	display: block
	border-bottom: 2px solid $accent
	margin-bottom: 50px
	padding-bottom: 50px
	transition: .4s ease
	color: $text
	&:last-child
		border-bottom: none
	&:hover
		background: #f5f5f5

.news__img
	max-width: 497px
	width: 100%
	img
		width: 100%

.news__txt
	h4
		font-size: 24px
		font-weight: bold
		color: #1f1f1f
		margin-bottom: 30px

.contacts__wrapper
	margin-bottom: 75px
	.contacts__left
		h4
			font-size: 24px
			color: #1f1f1f
			font-weight: bold
			margin-bottom: 20px
			.fa
				color: $accent

		.adress
			padding-left: 38px
			margin-right: 0

		p
			margin-bottom: 20px
			.fa
				color: $accent
				margin-right: 7px
				font-size: 22px

	.contacts__right
		height: 320px !important


.full__img
	max-width: 700px
	margin: 40px auto
	max-height: 450px
	width: 100%
	img
		width: 100%
		height: auto

.full__news
	h1
		font-size: 20px
		margin-bottom: 15px


.global__wrapper
	display: flex
	flex-direction: column
	min-height: 100%

	.inside__wrapper
		flex: 1 0 auto

	.footer
		flex: 0 0 auto

//whatsapp icon
#WAButton
	z-index: 99999
	bottom: 50px
	right: 50px!important
	&:hover
		.pulse
			animation: none!important
/* Animações
@keyframes btn-whats
	10%
		transform: translate(0, 200px)

	50%
		transform: translate(0, -40px)

	70%
		transform: scale(1.1)

@keyframes pulse
	50%
		transform: scale(1.1)
.pulse
	animation: pulse 2s ease-in-out
@import "media" // Always at the end
